<h2>buscar TAG</h2>
<form action="/show_tag" method="post">
	<label for="tags_searched_tag">Tagss</label>
	<input id="tags_searched_tag" name="tags[searched_tag]" placeholder="ingresa tag">

	<input type="submit" value="buscar tag">
</form>
